@page
@model Proiect.Pages.Products.IndexModel
@section Styles {
    <style>
        body {
            background-color: #FADADD; /* Roz deschis pentru fundal */
            font-family: Gabriola, sans-serif; /* Font Gabriola */
        }

        .btn-primary {
            background-color: #FF6699; /* Roz puțin mai închis pentru butoane */
            border-color: #FF6699;
        }

        /* Stiluri pentru tabelul cu programări */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #FF6699;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #FF6699;
            color: black;
        }
    </style>
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Recommended products</h1>

<p>
    <a asp-page="Create">Add a product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].MakeupArtist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MakeupArtist.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
