@page
@model Proiect.Pages.MakeupArtists.IndexModel
@section Styles {
    <style>
        body {
            background-color: #FADADD; /* Roz deschis pentru fundal */
            font-family: Gabriola, sans-serif; /* Font Gabriola */
        }

        .btn-primary {
            background-color: #FF6699; /* Roz puțin mai închis pentru butoane */
            border-color: #FF6699;
        }

        /* Stiluri pentru tabelul cu programări */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #FF6699;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #FF6699;
            color: black;
        }
    </style>
}
@{
    ViewData["Title"] = "Index";
}

<h1>Make-up Artists</h1>

<p>
    <a asp-page="Create">Add a make-up artists</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MakeupArtist[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeupArtist[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeupArtist[0].Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeupArtist[0].Service.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MakeupArtist[0].ServiceCost)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MakeupArtist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceCost)
                </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
